@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

$padding: 10px;
$width-mobile: 300px;
$text-color: #707070;
$error-color: #ff2e2e;
$border-color: #bdbdbd;
$success-color: #9ccc65;
$primary-color: #534daa;
$secondary-color: white;
$min-width-desktop: 400px;
$max-width-desktop: 1000px;

@mixin reset {
  margin: 0;
  padding: 0;
}

@mixin margin-center() {
  margin-left: auto;
  margin-right: auto;
}

@mixin buttonStyle {
  padding: $padding - 5px 20px;
}

@mixin box-shadow() {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

@mixin message($color) {
  left: 0%;
  right: 0%;
  width: 245px;
  height: 20px;
  display: flex;
  margin-top: -10px;
  border-radius: 3px;
  position: absolute;
  text-align: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  @include margin-center();
  background-color: $color;
  p {
    font-size: 12px;
    color: $secondary-color;
    background-color: transparent;
  }
}

// Animation Section ---------------------------------------------

@keyframes scaleIn {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}

@keyframes shake {
  from,
  to {
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes focus-label {
  to {
    font-size: 12px;
    color: $primary-color;
  }
}

@keyframes focus-input {
  to {
    transform: scale(1.01);
    border-bottom: 1px solid $primary-color;
  }
}

@keyframes validLabel {
  to {
    font-size: 10px;
    color: $success-color;
  }
}

@keyframes validInput {
  to {
    border-bottom: 1px solid $success-color;
  }
}

@keyframes invalidLabel {
  to {
    font-size: 10px;
    color: $error-color;
  }
}

@keyframes invalidInput {
  to {
    border-bottom: 1px solid $error-color;
  }
}

@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    transform: translate3d(0, 0, 0);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  40%,
  43% {
    transform: translate3d(0, -30px, 0);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  }

  70% {
    transform: translate3d(0, -15px, 0);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  }

  90% {
    transform: translate3d(0, -4px, 0);
  }
}

@keyframes hoverMenuItem {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes headShake {
  0% {
    transform: translateX(0);
  }

  6.5% {
    transform: translateX(-6px) rotateY(-9deg);
  }

  18.5% {
    transform: translateX(5px) rotateY(7deg);
  }

  31.5% {
    transform: translateX(-3px) rotateY(-5deg);
  }

  43.5% {
    transform: translateX(2px) rotateY(3deg);
  }

  50% {
    transform: translateX(0);
  }
}

@keyframes heartBeat {
  0% {
    transform: scale(1);
  }

  14% {
    transform: scale(1.3);
  }

  28% {
    transform: scale(1);
  }

  42% {
    transform: scale(1.3);
  }

  70% {
    transform: scale(1);
  }
}

@keyframes cloud1Animation {
  0% {
    transform: translateX(0%);
  }

  50% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes cloud2Animation {
  0% {
    transform: translateX(700%);
  }

  50% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(700%);
  }
}

@keyframes makeBigger {
  to {
    transform: scale(1.01);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.16);
  }
}

.cloudOne {
  animation-duration: 20s;
  animation-name: cloud1Animation;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.cloudTwo {
  animation-duration: 60s;
  animation-name: cloud2Animation;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.heartBeat {
  animation-duration: 1.3s;
  animation-name: heartBeat;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.headShake {
  animation-duration: 1.3s;
  animation-name: headShake;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@mixin animate($name, $duration) {
  animation-name: $name;
  animation-duration: $duration;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@mixin hoverAnimation {
  @include animate(hoverMenuItem, 1.5s);
}

@mixin bounceAnimation {
  @include animate(bounce, 1.3s);
  animation-iteration-count: infinite;
}

.bounce {
  @include bounceAnimation;
}

@mixin focus-input {
  @include animate(focus-input, 0.3s);
}

.focus-input {
  @include focus-input();
}

@mixin focus-label {
  @include animate(focus-label, 0.3s);
}

.focus-label {
  @include focus-label();
}

@mixin service-animation() {
  @include animate(makeBigger, 0.3s);
}

@mixin shake {
  @include animate(shake, 1s);
}

.shake {
  @include shake();
}

@mixin scaleIn {
  @include animate(scaleIn, 0.5s);
}

// Animation Section End -----------------------------------------

h1,
h2,
h3,
p {
  @include reset;
}

ul,
li,
a {
  @include reset;
  list-style: none;
  text-decoration: none;
}

.show {
  transform: translateX(0);
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  @include reset;
  overflow-x: hidden;
  font-family: Montserrat;
}

.form-input {
  border: none;
  outline: none;
  border-bottom: 1px solid $border-color;
}

.form-label {
  color: $text-color;
}

nav {
  top: 0;
  right: 0;
  z-index: 3;
  width: 100vw;
  display: flex;
  transition: all;
  position: absolute;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  transition-duration: 300ms;
  transform: translateX(-100%);
  transition-timing-function: ease-in-out;

  #nav-container {
    height: 100vh;
    display: flex;
    position: relative;
    align-items: center;
    width: $width-mobile;
    flex-direction: column;
    justify-content: flex-start;

    #close-menu {
      right: 0;
      top: 40px;
      border: none;
      position: absolute;
      background: transparent;
    }

    #logo-2 {
      width: 90px;
      height: 50px;
      margin-top: 140px;
    }

    ul {
      text-align: center;

      li {
        margin-top: 70px;

        a {
          color: black;
          font-size: 20px;
          font-weight: 500;
        }

        #contact-button {
          width: 180px;
          height: 54px;
          border: none;
          color: black;
          font-size: 20px;
          font-weight: 500;
          padding: 10px 20px;
          @include box-shadow();
          border-radius: 10px;
          background-color: #ffeb3b;
        }
      }
    }

    p {
      bottom: 0;
      font-size: 12px;
      color: #9e9e9e;
      position: absolute;
      text-align: center;

      a {
        color: #566cff;
      }
    }
  }
}

#hero {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(180deg, #8293ff 0%, #566cff 100%);

  #hero-container {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: $width-mobile;

    #menu-toggle {
      right: 0;
      top: 40px;
      border: none;
      position: absolute;
      background: transparent;
    }

    #logo-1 {
      z-index: 1;
      width: 100px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      padding-top: 140px;
    }

    #cloud-1 {
      z-index: 0;
      top: 115px;
      position: absolute;
      transform: translateX(50px);
    }

    #cloud-2 {
      z-index: 2;
      top: 174px;
      position: absolute;
      transform: translateX(200px);
    }

    #hero-image {
      display: block;
      padding-top: 50px;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      width: $width-mobile;
    }

    #header-wrapper {
      display: flex;
      margin-left: auto;
      margin-right: auto;
      align-items: center;
      flex-direction: column;
      justify-content: center;

      h3 {
        color: white;
        font-size: 20px;
        font-weight: 700;
        margin-top: 20px;
        margin-bottom: 0;
        text-align: center;
      }

      p {
        margin: 0;
        padding: 0;
        width: 277px;
        font-size: 12px;
        color: #eeeeee;
        text-align: center;
      }
    }

    #explore-container {
      width: 200px;
      display: flex;
      margin-top: 100px;
      margin-left: auto;
      margin-right: auto;
      align-items: center;
      flex-direction: column;
      justify-content: center;

      p {
        color: white;
        font-size: 20px;
        padding: $padding + 10px 0;
      }

      a {
        padding: $padding 0;
      }
    }
  }
}

#technologies {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #eeeeee;

  #tech-container {
    padding-top: 10px;
    width: $width-mobile;
    padding-bottom: 10px;

    h2 {
      font-size: 12px;
      color: #bdbdbd;
    }

    #tech-icon-container {
      padding: 5px;
    }
  }
}

#services {
  width: 100%;
  background-color: white;
  h2 {
    font-size: 15px;
    width: $width-mobile;
    @include margin-center();
    color: $primary-color;
    padding: $padding + 4 0;
  }
  .service-container {
    .image-container {
      width: 100%;
      display: flex;
      align-items: center;
      @include margin-center();
      flex-direction: column;
      justify-content: center;
      padding: $padding + 20 0;
      background-color: $primary-color;

      img {
        width: $width-mobile;
      }
    }

    .p-container {
      display: flex;
      text-align: left;
      margin-top: -20px;
      @include box-shadow();
      margin-bottom: 30px;
      width: $width-mobile;
      @include margin-center();
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      background-color: white;

      h3 {
        width: 80%;
        font-size: 20px;
        text-align: left;
        font-weight: normal;
        padding: $padding 0;
        color: $primary-color;
        @include margin-center();

        .bold-text {
          display: inline;
          font-weight: 700;
        }
      }

      p {
        width: 80%;
        font-size: 13px;
        color: $text-color;
        @include margin-center();
      }

      .button-container {
        width: 80%;
        display: block;
        margin-top: 20px;
        margin-bottom: 20px;
        @include margin-center();

        a {
          color: white;
          font-size: 13px;
          @include buttonStyle;
          background-color: $primary-color;
        }
      }
    }
  }
}

#contact-us {
  width: 100%;
  position: relative;
  background-color: white;

  #contact-us-container {
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #566cff;

    #contact-us-left {
      z-index: 10;
      position: relative;
      width: $width-mobile;

      h2 {
        color: white;
        font-size: 30px;
        font-weight: 700;
        margin-top: 23px;
        text-align: center;
      }

      #contact-us-image {
        width: 100%;
        margin-top: 10px;
      }

      ul {
        display: flex;
        margin-top: 10px;
        margin-bottom: 10px;
        flex-direction: row;
        justify-content: space-between;

        li {
          p {
            font-size: 12px;
            color: #eeeeee;

            img {
              display: inline;
            }

            a {
              display: block;
              color: inherit;
              margin-left: 15px;
            }
          }
        }
      }
    }

    #contact-form {
      z-index: 10;
      width: 100%;
      display: flex;
      margin-top: 40px;
      position: relative;
      align-items: center;
      flex-direction: column;
      background-color: white;
      justify-content: flex-start;

      #form-container {
        z-index: 10;
        margin-top: -30px;
        position: relative;
        margin-bottom: 30px;
        width: $width-mobile;
        @include box-shadow();
        @include margin-center();
        background-color: white;

        .error-message {
          @include message($error-color);
          @include shake();
        }

        .success-message {
          @include message($success-color);
          @include scaleIn();
        }

        .hide {
          display: none;
        }

        form {
          display: flex;
          padding-top: 0;
          margin-top: -20px;
          flex-direction: column;
          padding: $padding + 10px;

          // label:first-of-type {
          //   margin-top: 0;
          // }

          label {
            height: 20px;
            margin-top: $padding + 10px;
          }

          .label-text {
            display: flex;
            font-size: 13px;
            color: $text-color;
            align-items: center;
            flex-direction: row;
          }

          .success-label {
            color: $success-color;
          }

          .error-label {
            color: $error-color;
          }

          .success-input {
            border-bottom: 1px solid $success-color;
          }

          .error-input {
            border-bottom: 1px solid $error-color;
          }

          .label-icon {
            display: inline;
            margin-left: 15px;
          }

          input {
            border: none;
            outline: none;
            height: 20px;
            margin-top: $padding - 5px;
            border-bottom: 1px solid $border-color;
            &:focus {
              @include focus-input();
            }
          }

          textarea {
            border: none;
            &:focus {
              border-block-color: $primary-color;
            }
          }

          #submit {
            width: 45px;
            height: 45px;
            border: none;
            display: flex;
            margin-top: 20px;
            border-radius: 50%;
            align-items: center;
            @include box-shadow();
            justify-content: center;
            @include margin-center();
            background-color: $primary-color;
            &:hover {
              cursor: pointer;
            }
            &:focus {
              outline: none;
            }
          }
        }
      }
    }
  }

  #success-container {
    display: none;
  }
}

footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  #footer-container {
    width: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    #social-media-links {
      display: flex;
    }

    #copyright {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: center;

      img {
        width: 10px;
        margin-right: 5px;
      }

      p {
        font-size: 12px;
        color: #9e9e9e;
      }
    }
  }
}

@media screen and (min-width: $min-width-desktop) {
  // Animtation Begin ------------------------------------------
  @keyframes cloud1Animation {
    0% {
      transform: translateX(0%);
    }

    50% {
      transform: translateX(200%);
    }

    100% {
      transform: translateX(0%);
    }
  }

  @keyframes cloud2Animation {
    0% {
      transform: translateX(900%);
    }

    50% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(900%);
    }
  }
  // Animation End ----------------------------------------------
  #nav {
    display: flex;
    position: relative;
    transform: translateX(0);

    #nav-container {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      max-width: $max-width-desktop;

      #logo-2 {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
      }

      #close-menu {
        display: none;
      }

      ul {
        padding: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;

        li {
          margin: 0;
          display: flex;
          padding-left: 30px;
          align-items: center;
          justify-content: center;

          .menu-item {
            width: 100%;
            height: 100%;
            display: flex;
            font-size: 1em;
            padding: 10px 20px;
            position: relative;
            align-items: center;

            &:hover {
              &::before {
                left: 0;
                bottom: 0;
                content: "";
                position: absolute;
                @include hoverAnimation;
                border-bottom: 1px solid black;
              }
            }
          }

          #contact-button {
            margin: 0;
            width: 100%;
            height: auto;
            display: flex;
            font-size: 1em;
            font-weight: 700;
            &:hover {
              @include bounceAnimation;
            }
          }
        }
      }

      #privacy {
        display: none;
      }
    }
  }

  #hero {
    bottom: 0;
    height: 100vh;
    position: fixed;

    #hero-container {
      width: 100%;
      margin-top: 5%;
      max-width: $max-width-desktop;

      #menu-toggle {
        display: none;
      }

      #logo-1 {
        width: 20%;
        display: flex;
      }

      #cloud-1 {
        top: 80px;
        width: 13%;
        display: flex;
      }

      #cloud-2 {
        width: 7%;
        top: 210px;
        display: flex;
      }

      #hero-image {
        width: 100%;
      }

      #header-wrapper {
        h3 {
          font-size: 3em;
          line-height: 200%;
        }

        p {
          width: 70%;
          font-size: 1.5em;
        }
      }
    }
  }

  #technologies {
    z-index: 10;
    height: auto;
    margin-top: 100vh;
    position: relative;

    #tech-container {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: $max-width-desktop;

      h2 {
        width: 100%;
        font-size: 1em;
      }

      #tech-icon-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        img {
          padding: 10px 20px;
        }
      }
    }
  }

  #services {
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
    @include margin-center();

    h2 {
      width: 100%;
      font-size: 20px;
      @include margin-center();
      padding: $padding + 10px 0;
      max-width: $max-width-desktop;
    }

    .service-container {
      width: 100%;
      display: flex;
      @include box-shadow();
      margin-bottom: 45px;
      flex-direction: row;
      @include margin-center();
      max-width: $max-width-desktop;

      &:hover {
        @include service-animation();
      }

      .image-container {
        width: 50%;
        @include reset;
        padding: $padding + 10px;
        background-color: white;
      }
      .p-container {
        width: auto;
        @include reset;
        box-shadow: none;
        padding: $padding + 10px 0;
        h3 {
          font-size: 30px;
        }
        p {
          font-size: 20px;
          padding: $padding 0;
        }
        .button-container {
          a {
            font-size: 20px;
          }
        }
      }
    }
    .row-reverse {
      display: flex;
      flex-direction: row-reverse;
    }
  }

  #contact-us {
    z-index: 10;
    width: 100%;
    position: relative;
    background-color: white;

    #contact-us-container {
      width: 100%;
      display: flex;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      background-color: white;
      max-width: $max-width-desktop;

      #contact-us-left {
        width: 50%;
        z-index: 11;
        display: flex;
        padding: 0 50px;
        position: relative;
        flex-direction: column;

        h2 {
          color: $primary-color;
        }

        ul {
          li {
            p {
              color: $primary-color;
              img {
                filter: brightness(50%);
              }
            }
          }
        }
      }
      #contact-form {
        width: auto;
      }
    }
  }

  footer {
    z-index: 10;
    padding-top: 20px;
    position: relative;
    background-color: white;
  }
}
